/* Styles applied on the front end and in the editor. Compiled to build/style-index.css. */
.wp-block-devoted-page-header {
    background-color: var(--wp--preset--color--primary-lighter);
    padding-top: var(--wp--preset--spacing--large);
    padding-bottom: var(--wp--preset--spacing--large);
}
