# Environment Variables
.env

# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore
# --------------------------

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
# --------------------------

# Composer
# --------------------------
# Ignore Composer packages.
/vendor/
/wordpress/vendor/

# Ignore themes and plugins installed via Composer.
/wordpress/wp-content/plugins/*
!/wordpress/wp-content/plugins/README.md
/wordpress/wp-content/themes/*
!/wordpress/wp-content/themes/README.md


# Ignore dependencies installed via npm.
# --------------------------
node_modules

# Sass.
# --------------------------
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# VSCode, linting, and developer preferences.
# --------------------------
/.vscode/
.stylelintrc

# OS generated files.
# --------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
