/* ------------------------------ */
/*
/*      Block: Columns
/*
/* ------------------------------ */


/* ------------------------------ */
/* Variant: Sidebar
/* Main + Sidebar Combo
/* ------------------------------ */

/* Gap between Main + Sidebar is set in theme.json */

@media only screen and (min-width: 48.875rem) {
    .wp-block-columns.is-style-sidebar {

        /* WP doesn't support using <main> or <aside> tags on .column blocks, so
        we control with wrappers instead. */
        & .devoted-columns__main-wrapper {
            max-width: var(--wp--custom--layout--sidebar-main-width);
        }

        & .devoted-columns__aside-wrapper {
            max-width: var(--wp--custom--layout--sidebar-aside-width);
        }
    }
}
