<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:pattern {"slug":"devoted/site-page-header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group is-layout-constrained">
    <!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:columns -->
        <div class="wp-block-columns alignwide has-global-padding is-style-sidebar">
            <!-- wp:column -->
            <div class="wp-block-column dvo-columns__main-wrapper">
                <!-- wp:group {"tagName": "main","layout":{"type":"default"}} -->
                <main class="wp-block-group">
                    <!-- wp:template-part {"slug":"post-meta"} /-->
                    <!-- wp:post-featured-image /-->
                    <!-- wp:post-content /-->
                </main>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->
            <!-- wp:column -->
            <div class="wp-block-column dvo-columns__aside-wrapper">
                <!-- wp:group {"tagName":"aside"} -->
                <aside class="wp-block-group">
                    <!-- wp:pattern {"slug":"devoted/site-secondary-nav"} /-->
                </aside>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

