<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:template-part {"slug":"page-header", "className":"page-header"} /-->
<!-- wp:group -->
<div class="wp-block-group is-layout-constrained">
    <!-- wp:group {"tagName":"main"} -->
    <main class="wp-block-group alignwide has-global-padding">
        <!-- wp:post-featured-image /-->
        <!-- wp:post-content /-->
        <!-- wp:post-navigation-link {"type":"previous"} /-->
        <!-- wp:post-navigation-link /-->
    </main>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
